<h3>Events</h3>
<ul>
<li class="animated fadeInDown" ng-repeat="event in events track by $index">
  <div class="col s6 m6">
    <div class="card grey lighten-5">
      <div class="card-content black-text">
        <span ui-sref="app.event({index: $index})" class="card-title activator grey-text text-darken-4">{{event.name || untitled}}</span><a class="waves-effect waves-teal btn-flat right" ng-click="removeEvent($index)"><i class="material-icons right">delete</i></a>
          <p>I am a very simple card. I am good at containing small bits of information.I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action grey-text">
        <p>Last modified: {{timeSince(event.lastModified)}}</p>
      </div>
    </div>
  </div>
  </li>
</ul>
<div class="fixed-action-btn tooltipped" data-position="left" data-delay="50" data-tooltip="New Event" style="bottom: 30px; right: 30px;">
  <a ui-sref="app.event" class="btn-floating btn-large blue">
    <i class="large material-icons">add</i>
  </a>
</div>