<h3>{{title}}</h3>
<div class="animated fadeInDown">
  <div class="card grey lighten-5">
    <div class="card-content black-text">
      <span class="card-title">Event Overview</span>
        <p>
          <input type="checkbox" id="overviewVisible" ng-model="event.overview.meta.visible"/>
          <label for="overviewVisible">Should the event overview be visible?</label>
        </p>
        <div class="row" ng-show="event.overview.meta.visible">
          <div class="input-field col s12">
            <input id="event_title" type="text" class="validate" ng-model="event.overview.data[0].text" required="true" data-error"This is required">
            <label ng-hide="event.overview.data[0].text" for="event_title">Event Title</label>
          </div>
          <div class="input-field col s12" ng-repeat="item in event.overview.data.slice(1, (event.overview.data.length)) track by $index">
            <input id="event_detail_{{$index}}" type="text" class="validate" ng-model="event.overview.data[$index+1].text" required="true" data-error"This is required">
          </div>
        </div>
    </div>
    <div class="card-action" ng-show="event.overview.meta.visible">
      <a data-target="modal1" class="waves-effect waves-teal btn modal-trigger blue" href="#modal1"><i class="material-icons left">add</i>Detail</a>
    </div>
  </div>

  <div class="card grey lighten-5">
    <div class="card-content grey-text">
    <span class="card-title black-text">Attendees</span>
    <p>
      <input type="checkbox" id="needContactDetails" ng-model="event.contact.meta.enabled"/>
      <label for="needContactDetails">Do you want attendee contact information?</label>
    </p>
    <div class="row">
      <div class="col">
        <p>
          <input type="checkbox" id="needOrgDetails" ng-model="event.organisation.meta.enabled"/>
          <label for="needOrgDetails">Will the attendees come from an organisation e.g. a school, college, union etc.?</label>
        </p>
      </div>
        <div class="input-field col s12" ng-show="event.organisation.meta.enabled">
          <input id="org_type" type="text" class="validate" ng-model="event.organisation.meta.ui_text_to_display" required="true" data-error"This is required">
          <label for="org_type">Organisation Type</label>
        </div>
      <div ng-show="event.organisation.meta.enabled">
        <div class="input-field col s12">
          <input id="identifier" type="text" class="validate" ng-model="event.organisation.meta.sectorNo_text" required="true" data-error"This is required">
          <label for="identifier">Identifier</label>
        </div>
        <div class="input-field col s12">
          <p>e.g. 'Staff Number, Student Number etc'</p>
        </div>
      </div>
    </div>
      <p>Max attendees</p>
      <p class="range-field">
        <input type="range" id="test5" min="0" max="1000" ng-model="event.attendees_meta.maxNo"/>
      </p>
      <p>
        <input type="checkbox" id="lunchBox" ng-model="event.attendees_meta.request_lunch" />
        <label for="lunchBox">Is lunch provided?</label>
      </p>
      <p>
        <input type="checkbox" id="positionBox" ng-model="event.attendees_meta.request_position"/>
        <label for="positionBox">Can attendees request a position?</label>
      </p>
      <div id="positions" ng-show="event.attendees_meta.request_position">
        <div class="row"></div>
        <hr>
        <div class="row"></div>
        <div ng-show="(event.attendees_meta.positions.length > 0)">
          <div class="row">
            <div class="col 1">
              <p>Positions</p>
            </div>
          </div>
          <ul class="collection">
            <li ng-repeat="position in event.attendees_meta.positions" class="collection-item">{{position.name}}</li>
          </ul>
        </div>
                
        <a data-target="modal2" class="waves-effect waves-teal btn modal-trigger blue"><i class="material-icons left">add</i>Position</a>
      </div>
    </div>
  </div>

  <div class="card grey lighten-5">
    <div class="card-content grey-text">
      <span class="card-title black-text">Offerings</span>
          <div class="row">
            <div class="col">
            <p>Are there multiple dates for this event?</p>
            </div>
            <div class="col">
              <!-- Switch -->
                <div class="switch">
                  <label>
                    No
                    <input type="checkbox" ng-model="event.offerings.meta.visible">
                    <span class="lever"></span>
                    Yes
                  </label>
                </div>
            </div>
          </div>
          <div id="offerings-list" ng-show="event.offerings.meta.visible">
            <p>No.Columns</p>
            <p class="range-field">
              <input type="range" id="test5" min="1" max="5" ng-model="event.offerings.meta.columns"/>
            </p>
            <div class="row" ng-repeat="offering in event.offerings.data track by $index" on-last-repeat>
              <div class="input-field col">
                <i class="material-icons prefix grey-text">date_range</i>
                <input id="date{{$index}}" type="text" class="datepicker" ng-model="event.offerings.data[$index].lines[0].text">
              </div>
              <div class="input-field col">
                <i class="material-icons prefix grey-text">info_outline</i>
                <input id="offering_info" type="text" class="validate" required="true" ng-model="event.offerings.data[$index].lines[1].text">
                <label ng-hide="event.offerings.data[$index].lines[1].text" for="offering_info">Offering Info</label>
              </div>
              <div class="input-field col">
                  <select class="browser-default">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </select>
              </div> 
            </div>
          </div>
    </div>
    <div class="card-action" ng-show="event.offerings.meta.visible">
      <a class="waves-effect waves-teal btn blue" ng-click="add_offering()"><i class="material-icons left">add</i>Offering</a>
    </div>
  </div>


<!-- End of Page -->
</div>

<div class="fixed-action-btn horizontal" style="bottom: 30px; right: 30px;">
    <a class="btn-floating btn-large blue">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a ng-click="deleteEvent()" class="btn-floating red"><i class="material-icons">delete</i></a></li>
      <li><a ng-click="saveEvent()" class="btn-floating green"><i class="material-icons">save</i></a></li>
    </ul>
  </div>



<script type="text/javascript">
  $(document).ready(function() {
    $('.modal-trigger').leanModal(); 
    $('select').material_select();
  });     
</script>


<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Add Detail</h4>
    <div class="input-field col s6">
      <input autofocus id="detail_input" type="text">
      <label for="detail_input">Text</label>
    </div>
  </div>
  <div class="modal-footer">
    <a ng-click="addOverviewDetail($event)" class="modal-action modal-close waves-effect waves-green btn-flat">Save</a>
    <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>

<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>Add Position</h4>
    <div class="input-field col s6">
      <input autofocus id="position_input" type="text">
      <label for="position_input">Position</label>
    </div>
  </div>
  <div class="modal-footer">
    <a ng-click="addPosition()" class="modal-action modal-close waves-effect waves-green btn-flat">Save</a>
    <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>

<div id="modal3" class="modal">
  <div class="modal-content">
    <h4>Add Offering</h4>
    <input type="date" class="datepicker">
  </div>
  <div class="modal-footer">
    <a ng-click="" class="modal-action modal-close waves-effect waves-green btn-flat">Save</a>
    <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>
      